@mixin center-flex($direction: row, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
  gap: $gap;
}
@mixin input-base {
    height: 32px;
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid white ;
    background: transparent;
    color: white;
    letter-spacing: .6px;
    transition: .3s ease;

    &:focus {
        outline: none;
        border-bottom-color: rgb(56, 56, 56);
    }
}
@mixin card-premium {
  background: linear-gradient(180deg, rgba(255,255,255,0.06), rgba(255,255,255,0.01));
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.6);
  overflow: hidden;
}

@mixin title-premium {
  font-family:'Montserrat', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 600;
}

@mixin button-base($bg, $color) {
  padding: 10px 16px;
  font-weight: 600;
  font-family:'Montserrat', sans-serif;
  border-radius: 8px;
  text-align: center;
  border: 1px solid transparent;
  background-color: $bg;
  color: $color;
  transition: .3s ease;

  &:hover {
    transform: translateY(-3px);
    opacity: .9;
  }
}