$color-negro: #000;
$color-gris-oscuro: #0b0b0b;
$color-blanco: #ffffff;

$font-primary: 'Montserrat', sans-serif;
$font-secondary: "Inter", sans-serif;

$shadow-strong: 0 6px 18px rgba(0,0,0,0.6);

$spacing-xl: 80px;
$spacing-lg: 50px;
$spacing-md: 30px;
$spacing-sm: 20px;

$radius: 8px;
