footer {
    background-color: #000;
}

.footer-text {
    font-size: 1rem;
    color: #fff;
}

.logo_img_footer {
    width: 200px;     
    max-width: 100%;  
}

.redes_footer_container a {
    color: white;
    transition: opacity 0.2s ease;
    
    &:hover {
        opacity: 0.7;
    }
}
