*{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0
}
html, body {
    width: 100%;
    overflow-x: hidden;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}
a{
    text-decoration: none;
}
main a{
    color: black;
    text-decoration: none;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
